In [52]:
import pickle as pkl

In [53]:
# load dataframe from Q1

with open('data.pkl', 'rb') as f:
    df = pkl.load(f)

In [62]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### Question 2

Use geocoder csv to add longitute and latitude values to our original dataframe

In [54]:
geo_coord = pd.read_csv('Geospatial_Coordinates.csv')

In [55]:
geo_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [56]:
# changing 'Postal Code' to 'Postcode'
geo_coord.columns = ['Postcode', 'Latitude','Longitude']

In [57]:
geo_coord.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

In [58]:
# merge geo cordinates on dataframe
df = df.merge(geo_coord, on='Postcode', how='left')

In [59]:
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [60]:
# we can see that we have 2 additional columns
df.shape

(103, 5)

In [61]:
with open('data_geo.pkl', 'wb') as f:
    pkl.dump(df, f)